body {
    background: rgb(32,47,60);
    background: linear-gradient(184deg, rgba(32,47,60,1) 0%, rgba(39,65,98,1) 73%, rgba(110,61,86,1) 100%);
    color: white;
    font-family: "Comfortaa", sans-serif;
    display: flex;
    align-items: center;
}

.wrapper {
    margin: 0 1.875rem;
}

h2 {
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

.games {
    background: rgba(0,0,0,0.2);
    padding: 1.25rem;
    margin: 3.125rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.25rem;
    grid-row-gap: 0px;
    grid-template-columns: 100%;
}

.singleGame {
    background-color: rgba(110,61,86,0.5);
    padding: 1.875rem;
    margin-bottom: 1.25rem;
}

.singleGame > p {
    line-height: 1.2rem;
    font-size: 11px;
    margin: 0;
}

.singleGame > img {
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
}

.genre {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
}

.genre > p {
    width: max-content;
    height: 1.25rem;
    background-color: rgba(110,61,86,0.5);
    padding: 0.625rem 0.625rem 0.188rem 0.625rem;
    border-radius: 3.125rem;
    font-size: 0.688rem;
}

@media screen and (max-width: 1500px) {
    .games {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .games {
        grid-template-columns: repeat(1, 1fr);
        margin: 50px 0;
    }
}

@media screen and (min-width: 1500px) {
    .games {
        grid-template-columns: repeat(3, 1fr);
        margin: 50px 0;
    }
}